* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary-text,
a {
  font-size: 18px;
  color: #e5e7eb;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

footer,
.content-one {
  background-color: #1f2937;
}

button,
.four-left-side {
  background-color: #3882f6;
}

.image-place-holder {
  background-color: antiquewhite;
  width: 500px;
  height: 250px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-image {
  border: 2px solid cyan;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.content-three {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.content-one {
  display: flex;
  flex-direction: column;
  padding: 20px 10% 10% 12%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.hero-text {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.hero-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f9faf8;
  padding: 20px;
}

.hero-secondary-text {
  margin-bottom: 20px;
}

button {
  width: 150px;
  padding: 10px 40px;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
  border-style: none;
}
